@import "../abstracts/variables";

#btnCV{
  width: 25%;
}
.btn-dark{
  background-color: $secondaryColor;
  color: $quarteraryColor;
  border: none;
  &:hover{
    background-color: $quarteraryColor;
    color: white;
  }
}
.btn-light{
   background-color: $primaryColor;
   color: white;
   border: none;
   &:hover{
     background-color: $quarteraryColor;
     color: white;
   }
 }
 .formBtn{
  padding: 0.5em;
  width: 30%;
 }