@import "abstracts/variables";

@import "base/fonts";

@import "components/img";
@import "components/card";
@import "components/form";
@import "components/btn";
@import "components/progressbar";

body{
  font-family: $Roboto;

  .homePresentation{
    background-color: $primaryColor;
    color: white;
    font-size: 20px;
    padding-top: 50px;
  }
  #skills{
    background-color: $secondaryColor;
    margin-bottom: 50px;
  }
  #projects{
    background-color: $primaryColor;
    margin: 50px 0 50px 0;
    color:white;
  }
  #contactMe{
    background-color: $secondaryColor;
  }
}