.skillCard{
  padding: 15px;
  margin-top: 15px;
  height: 550px;
  max-height: 550px;
}

.projectCard{
  height: 250px;
  padding: 0;
  max-height: 350px;
  display: flex;
  margin: 25px 0 25px 0 ;
  align-items: center;
  .card-img-top{
    height: 100%;
    width: 100%;
  }
  .card-body{
    display: none;
  }
  .btn{
    width: 35%;
    display: none;
  }
  p{
    font-size: 15px;
  }
  &:hover{
    background-color: white;
    .card-img-top{
      display: none;
    }
    .card-body{
      display: block;
    }
    .btn{
      display: block;
    }
  }

}