.skillCard{
  padding: 15px;
  height: 550px;
  max-height: 550px;
}

.projectCard{
  height: 350px;
  padding: 0;
  max-height: 350px;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  .card-img-top{
    height: 60%;
    width: 100%;
  }
  .btn{
    width: 35%;
  }

}