/* Import var */

@import "var/variables";

/* Import pages */

@import "pages/header";
@import "pages/presentation";
@import "pages/project";
@import "pages/skills";

body{
  margin: 0;
  padding: 0;
  font-size: $Roboto;
}


.link_none{
  text-decoration: none;
  color: black;
}
#container{
  margin-top: 15px;
}