@import "abstracts/variables";

@import "base/fonts";

@import "components/img";
@import "components/card";
@import "components/form";
@import "components/btn";
@import "components/progressbar";


@import "layout/header";
@import "layout/nav";
@import "layout/footer";

body{
  font-family: $Roboto;
  margin: 0;
  padding: 0;

  .homePresentation{
    background-color: $primaryColor;
    color: white;
    font-size: 1em;
    padding: 2em;
  }
  #skills{
    background-color: $secondaryColor;
    height: 100%;
    margin-bottom: 5em;
  }
  #projects{
    background-color: $primaryColor;
    margin: 1.5em 0 1.5em 0;
    color:white;
  }
  #contactMe{
    margin: 1.5em 0 1.5em 0;
    background-color: $secondaryColor;
  }
}
